<img class="mobile" src="assets/img/mobile.jpg" alt="banner">
<div class="landing">
  <div class="banner">
    <div class="banner_button" (click)="doScroll()" scrollTo="request">БЫСТРЫЙ ЗАКАЗ</div>
    <img class="banner_image" src="assets/img/4.jpeg" alt="banner">
    <div class="banner_cover"></div>
    <h1 class="banner_title">Агентство подбора домашнего персонала в Киеве и Киевской области
    </h1>
  </div>
  <app-doubleSection [section]="clients"></app-doubleSection>
  <app-section *ngFor="let item of sections" [section]="item"></app-section>
  <app-doubleSection [section]="workWithAgency"></app-doubleSection>
  <app-prices></app-prices>
  <app-request></app-request>
</div>
