@import '../../constants';

.section{
  position: relative;
  top: 85px;
  min-height: calc(100vh - 85px);
  padding: 25px;
  background-image: url('../../assets/img/4.jpeg');
  background-attachment: fixed;
  background-size: cover;
}

.vacancies {
  display: block;
  width: 80%;
  margin: 0 auto;
}


@media screen and (max-width: 880px) {
  .vacancies {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .section{
    padding: 0;
    background: @color_white;
  }
}
