@import '../../constants';

.section{
  position: relative;
  top: 85px;
  min-height: calc(100vh - 85px);
  padding: 25px;
  background: url('../../assets/img/4.jpeg');
}

.vacancies {
  display: block;
  width: 80%;
  margin: 0 auto;
}
