@import '../../constants';

.section{
  position: relative;
  top: 85px;
  background: @color_second_grey;
  min-height: calc(100vh - 85px);
  padding: 25px;
}

.vacancies {
  display: block;
  width: 80%;
  margin: 0 auto;
}
