@import '../../constants';

.header {
  display: flex;
  justify-content: space-between;
  height: 85px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background: @color_white;

  &_burger {
    display: none;
    height: 24px;
    margin-top: 30.5px;
    margin-left: 25px;

    button{
      background: transparent;
      border: transparent;
      outline: none;
    }

    &_dots:after {
        content: '\2807';
        font-size: 30px;
    }
  }

  &_logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 100%;

    img {
      height: 90%;
    }
  }

  &_navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 25px;

    &_item {
      color: @color_grey;
      cursor: pointer;
      position: relative;
      margin-right: 10px;

      &:before {
        content: "";
        position: absolute;
        z-index: 22;
        top: 20px;
        left: 50%;
        right: 50%;
        background: @color_red; /*** COLOR OF THE LINE ***/
        height: 3px; /*** THICKNESS OF THE LINE ***/
        transition-property: right, left;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
      }

      &:hover {
        color: @color_red;

        &:before {
          right: 0;
          left: 0;
        }
      }
    }
  }

  &_contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: @color_grey;
    padding-right: 25px;

    &_phone {
      display: flex;
      justify-content: space-between;
      padding: 0 25px;

      div {
        position: relative;
        cursor: pointer;
        margin-right: 25px;

        a {
          text-decoration: none;
          color: inherit;
        }

        &:before {
          content: "";
          position: absolute;
          z-index: 22;
          top: 20px;
          left: 50%;
          right: 50%;
          background: @color_red; /*** COLOR OF THE LINE ***/
          height: 3px; /*** THICKNESS OF THE LINE ***/
          transition-property: right, left;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
        }

        &:hover {
          color: @color_red;

          &:before {
            right: 0;
            left: 0;
          }

        }
      }
    }

    &_button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50%;
      background: @color_red;
      border-radius: 5%;
      border: 2px solid @color_white;
      color: @color_white;
      cursor: pointer;
      padding: 0 25px;
      transition: all .3s;

      &:hover {
        background: @color_white;
        color: @color_red;
        border-radius: 5%;
        border: 2px solid @color_red;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .header {
    &_contact {
      &_phone {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .header {
    &_navigation {
      display: none;
    }

    &_burger {
      display: block;
    }
  }
}

@media screen and (max-width: 560px) {
  .header {
    &_logo {
      transform: translate(-110%);
    }

    &_contact {
      &_button {
        padding: 0 15px;
        height: 40%;
      }
    }
  }
}



