<header class="header">
  <div class="header_burger">

  </div>
  <nav class="header_navigation">
      <div class="header_navigation_item" scrollTo="forCustomers">Клиентам</div>
      <div class="header_navigation_item" scrollTo="personal">Персонал</div>
      <div class="header_navigation_item" scrollTo="aboutUs">О нас</div>
      <div class="header_navigation_item" scrollTo="footer">Контакты</div>
  </nav>
  <div class="header_logo">
    <img src="assets/img/logo.png" alt="logo" scrollTo="body">
  </div>
  <div class="header_contact">
    <div class="header_contact_phone">
      <div>+38 (093) 026 76 92</div>
      <div>+38 (093) 026 76 92</div>
    </div>
    <div class="header_contact_button">
      <div scrollTo="request">Заказать</div>
    </div>
  </div>
</header>

