<header class="header">
  <nav class="header_burger">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <div class="header_burger_dots"></div>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span scrollTo="forCustomers">Клиентам</span>
      </button>
      <button mat-menu-item>
        <span scrollTo="personal">Персонал</span>
      </button>
      <button mat-menu-item>
        <span scrollTo="aboutUs">О нас</span>
      </button>
      <button mat-menu-item>
        <span scrollTo="prices">Цены</span>
      </button>
      <button mat-menu-item>
        <span scrollTo="contacts">Контакты</span>
      </button>
    </mat-menu>
  </nav>
  <nav class="header_navigation">
      <div class="header_navigation_item" scrollTo="forCustomers">Клиентам</div>
      <div class="header_navigation_item" scrollTo="personal">Персонал</div>
      <div class="header_navigation_item" scrollTo="aboutUs">О нас</div>
      <div class="header_navigation_item" scrollTo="prices">Цены</div>
      <div class="header_navigation_item" scrollTo="footer">Контакты</div>
  </nav>
  <div class="header_logo">
    <img src="assets/img/logo.png" alt="logo" scrollTo="body">
  </div>
  <div class="header_contact">
    <div class="header_contact_phone">
      <div><a href="tel:+380958866877">+38 (095) 88 66 877</a></div>
      <div><a href="tel:+38093866877">+38 (093) 88 66 877</a></div>
    </div>
    <div class="header_contact_button">
      <div scrollTo="request">Заказ Персонала</div>
    </div>
  </div>
</header>

