<header class="header" *ngIf="!isAdmin">
  <nav class="header_burger">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <div class="header_burger_dots"></div>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span scrollTo="forCustomers" (click)="onClick('/', 'forCustomers')">Клиентам</span>
      </button>
      <button mat-menu-item>
        <span scrollTo="personal" (click)="onClick('/', 'personal')">Персонал</span>
      </button>
      <button mat-menu-item>
        <span scrollTo="aboutUs" (click)="onClick('/', 'aboutUs')">О нас</span>
      </button>
      <button mat-menu-item>
        <span scrollTo="prices" (click)="onClick('/', 'prices')">Цены</span>
      </button>
      <button mat-menu-item>
        <span scrollTo="contacts" (click)="onClick('/', 'footer')">Контакты</span>
      </button>
      <button mat-menu-item>
        <span (click)="onClick('/vacancies')"> Вакансии</span>
      </button>
    </mat-menu>
  </nav>
  <nav class="header_navigation">
      <div class="header_navigation_item" (click)="onClick('/', 'forCustomers')">Клиентам</div>
      <div class="header_navigation_item" (click)="onClick('/', 'personal')">Персонал</div>
      <div class="header_navigation_item" (click)="onClick('/', 'aboutUs')">О нас</div>
      <div class="header_navigation_item" (click)="onClick('/', 'prices')">Цены</div>
      <div class="header_navigation_item" (click)="onClick('/', 'footer')">Контакты</div>
      <div class="header_navigation_item" (click)="onClick('/vacancies')">Вакансии</div>
  </nav>
  <div class="header_logo">
    <img src="assets/img/logo.png" alt="logo" (click)="onClick('/', 'body')">
  </div>
  <div class="header_contact">
    <div class="header_contact_phone">
      <div><a href="tel:+380958866877">+38 (095) 88 66 877</a></div>
      <div><a href="tel:+38093866877">+38 (093) 88 66 877</a></div>
    </div>
    <div class="header_contact_button" (click)="onClick('/', 'request')">
      <div class="header_contact_button_desktop">Заказ Персонала</div>
      <div class="header_contact_button_mobile">ЗАЯВКА</div>
    </div>
  </div>
</header>

