<section class="request" id="request">
  <div class="request_form">
    <div class="request_form_header">
      <h1>Оставить Заявку</h1>
    </div>
    <div class="request_form_body">
      <div class="request_form_body_form" [formGroup]="form" *ngIf="!showAfterSendMessage">
        <mat-form-field class="request_form_field">
          <input matInput placeholder="Номер телефона"
                 [textMask]="{mask: mask, keepCharPositions: true}"
                 formControlName="phone" (focus)="phoneFocus()" (blur)="phoneBlur()">
        </mat-form-field>
        <mat-form-field class="request_form_field" *ngIf="showSecondPart">
          <input matInput placeholder="Имя" formControlName="name">
        </mat-form-field>
        <mat-form-field class="request_form_field" *ngIf="showSecondPart">
          <mat-select placeholder="Выберите персонал" formControlName="person">
            <mat-option *ngFor="let option of selectOptions" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="request_form_field" *ngIf="showSecondPart">
          <textarea matInput placeholder="Коментарий" rows="3" formControlName="comment"></textarea>
        </mat-form-field>
        <button mat-raised-button color="accent" *ngIf="showSecondPart" type="submit" (click)="submitForm()">Отправить Заявку</button>
      </div>

      <div class="request_form_body_thanks" *ngIf="showAfterSendMessage">
        <div class="request_form_body_thanks_text" >
          Благодарим за заявку. Наш представитель свяжеться с вами в самие короткие сроки.
          <div>Хотите отредактировать заявку? <span (click)="showAfterSendMessage = !showAfterSendMessage">Жми тут</span></div>
        </div>
      </div>
      <div class="request_form_body_description" *ngIf="!showAfterSendMessage">
        <div>Для того чтобы мы связались с вами оставте плиз заявку!!!</div>
      </div>
    </div>
  </div>
</section>
