<section class="add">
  <h1 class="title"> Добавить вакансию</h1>

  <form class="form" [formGroup]="form">
    <mat-form-field class="form_field">
      <input matInput placeholder="Имя" value="" formControlName="name">
    </mat-form-field>
    <mat-form-field class="form_field">
      <input matInput placeholder="Фамилия" value="" formControlName="secondName">
    </mat-form-field>
    <mat-form-field class="form_field">
      <input matInput placeholder="Дата рождение" type="date" value="" formControlName="birthDay">
    </mat-form-field>

    <mat-form-field class="request_form_field">
      <input matInput placeholder="Номер телефона"
             [textMask]="{mask: mask, keepCharPositions: true}"
             formControlName="phone">
    </mat-form-field>

    <mat-form-field class="form_field">
      <mat-select placeholder="Тип персонала" formControlName="type">
        <mat-option *ngFor="let option of selectOptions" [value]="option">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form_field">
      <input matInput placeholder="Ожидаемая зарплата (грн/мес)" type="number" salary="" formControlName="name">
    </mat-form-field>

    <mat-form-field class="form_field">
      <textarea matInput placeholder="О себе" formControlName="about"></textarea>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit" (click)="submitForm()">Добавить вакансию</button>
  </form>
</section>
