<div class="footer_h">
   <div class="footer_h_item">
     <img src="assets/img/map_2.png" alt="map" class="footer_h_item_img">
   </div>
  <div class="footer_h_item">
    <div class="footer_info_header_address_item">
      Наш адрес:
      <span>г. Киев, м. Дворец Украина,</span>
    </div>
    <div class="footer_info_header_address_item">
      &#8203;
      <span>ул. Предславинская 34Б, 4 эт. 405 оф.</span>
    </div>
    <div class="footer_info_header_address_item">
      Электронный адрес:
      <span><a href="mailto:info@familyservice.com.ua">info@familyservice.com.ua</a></span>
    </div>
  </div>
</div>

<footer class="footer" id="footer">
  <div class="footer_info">
      <div class="footer_info_header">
        <div class="footer_info_header_address">
        </div>
        <div class="footer_info_header_share">
          <div>
            <a href="https://www.facebook.com/familyservice8" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/_family_service_" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="skype:live:10644d6160e94069?call" target="_blank">
              <i class="fab fa-skype"></i>
            </a>
          </div>
        </div>
      </div>
    <div class="footer_info_footer">
      <div>© 2018 - Family Service. Все права защищены.</div>
    </div>
  </div>
</footer>
