<div class="footer_h">
   <div class="footer_h_item">
     <img src="assets/img/map_4.png" alt="map" class="footer_h_item_img">
   </div>
  <div class="footer_h_item">
    <div class="footer_info_header_address_item">
      Наш адрес:
      <span>г. Киев, м. Лыбедская,</span>
    </div>
    <div class="footer_info_header_address_item">
      &#8203;
      <span> ул. Академика Филатова, 22/8 оф.102</span>
    </div>
    <div class="footer_info_header_address_item">
      Электронный адрес:
      <span><a href="mailto:info@familyservice.com.ua">info@familyservice.com.ua</a></span>
    </div>
  </div>
</div>

<footer class="footer" id="footer">
  <div class="footer_info">
      <div class="footer_info_header">
        <div class="footer_info_header_address">
        </div>
        <div class="footer_info_header_share">
          <div>
            <a href="https://www.facebook.com/familyservice8" aria-label="Facebook" rel="noopener"  target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/_family_service_" aria-label="Instagram" rel="noopener"  target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="skype:live:10644d6160e94069?call" aria-label="Skype"  rel="noopener" target="_blank">
              <i class="fab fa-skype"></i>
            </a>
          </div>
        </div>
      </div>
    <div class="footer_info_footer">
      <div>© 2018 - Family Service. Все права защищены.</div>
    </div>
  </div>
</footer>
