@import '../../constants';

.prices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 50px 12.5%;
}


@media screen and (max-width: 853px) {
  .prices {
    padding: 50px 5%;
  }
}

@media screen and (max-width: 710px) {
  .prices {
    justify-content: center;
  }
}
