<div class="person-list">
  <div class="person-list_wrapper">
  <mat-card *ngFor="let card of cards" class="person-list_card">
    <mat-card-header class="person-list_card_header">
      <mat-card-title class="person-list_card_title">{{card.title}}</mat-card-title>
    </mat-card-header>
    <div class="person-list_imgWrap">
      <img mat-card-image [src]="card.img" alt="" class="person-list_card_img">
    </div>
      <div class="person-list_button" [routerLink]="card.route" routerLinkActive="active">
        <div>Подробнее</div>
      </div>
  </mat-card>
  </div>
</div>
