<div [formGroup]="form" class="form">
  <mat-form-field class="form_item">
    <input matInput placeholder="Заголовок"
           formControlName="title">
  </mat-form-field>
  <mat-form-field class="form_item">
    <input matInput placeholder="Место работы"
           formControlName="location">
  </mat-form-field>
  <mat-form-field class="form_item">
    <input matInput placeholder="Зарплата (грн)"
           type="number"
           formControlName="salary">
  </mat-form-field>

  <div formArrayName="blocks" class="form_block" *ngFor="let item of blocks.controls; index as i">
    <mat-form-field class="form_item"
                    [formGroupName]="i">
      <input matInput placeholder="Заголовок блока"
             formControlName="blockTitle">
    </mat-form-field>
    <mat-form-field class="form_item"
                    [formGroupName]="i">
      <textarea matInput placeholder="Впишите текст" formControlName="text" rows="5"></textarea>
    </mat-form-field>
    <mat-radio-group [formGroupName]="i">
      <mat-radio-button class="form_radio_button" *ngFor="let val of radio" [value]="val" (change)="radioChange($event, i)">
        {{val}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <button mat-raised-button color="primary" type="submit" (click)="addBlock()">Добавить блок</button>


  <button mat-raised-button color="accent" type="submit" (click)="submitForm()">Добавить вакансию</button>
</div>

<div class="vacancy">
  ПРЕВЬЮ
  <mat-accordion class="vacancy_accordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header class="vacancy_header-mat" collapsedHeight="75px">
        <div class="vacancy_header">
          <div class="vacancy_title">
            {{vacancy.title}}
          </div>
          <div class="vacancy_subtitle">
            <div class="vacancy_place">
              <div class="field_name">Место работы: </div>
              <div class="field_value">{{vacancy.location || 'Не указано'}};</div>
            </div>
            <div class="vacancy_price">
              <div class="field_name">Зарплата: </div>
              <div class="field_value">{{vacancy.salary || 'Не указано'}} грн.</div>
            </div>
          </div>
        </div>
      </mat-expansion-panel-header>
      <div class="vacancy_blocks_wrapper">
        <div class="vacancy_block" *ngFor="let block of vacancy.blocks">
          <app-vacancy-block [block]="block"></app-vacancy-block>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

