@import '../../constants';

.form{
  display: flex;
  width: 50%;
  margin: 50px auto 0 auto;


  &_item {
    width: 100%;
    display: block;
  }

  &_add {
    cursor: pointer;
    color: @color_red;
    font-weight: bolder;
    padding: 10px;
    font-size: 25px;
  }

  &_block {
    padding: 5%;
    width: 100%;
    border: 1px solid @color_red;
    margin-bottom: 50px;
  }

  &_radio_button {
    padding: 5px;
  }
}


