@import '../../constants';

.block{
  padding-top: 10px;

  &_title {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: @color_grey;
  }

  &_subtitle{
    &_first{
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 750px) {
  .block{
    font-size: 15px;
    &_title {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 650px) {
  .block{
    font-size: 14px;
    &_title {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 550px) {
  .block{
    font-size: 13px;
    &_title {
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 450px) {
  .block{
    font-size: 12px;
    &_title {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 370px) {
  .block{
    font-size: 11px;
    &_title {
      font-size: 11px;
    }
  }
}
